.mainBoard {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 700px;
}
